.img-post {
  position: relative;
  width: 100%;
  min-height: 500px;
}

.img-post img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.text {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 400px;
  margin: 200px 100px 0;
}

.text .title-post {
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text .time {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.text .categoria {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
}

.time span {
  margin-right: 5px;
}

.post p {
  padding: 10px;
  color: #4c4c4c;
  font-size: 16px;
}

.post img {
  width: 100%;
}

.post iframe {
  border: 0;
  width: 100%;
}

.post ul {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style-type: disc;
  margin-left: 30px;
}

section.post-feed {
  width: 100%;
  margin-top: 20px;
}

.feed-post-content {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}
