section.destaques {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
}

.destaques .bg {
  position: absolute;
  width: 100%;
  height: 200px;
  background: linear-gradient(
    90deg,
    rgba(9, 118, 121, 1) 35%,
    rgba(0, 255, 85, 1) 100%
  );
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.time p {
  margin-left: 5px;
}

.posts {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 70%;
  height: 100%;
  box-shadow: 0px 6px 55px -19px rgba(0, 0, 0, 1);
}

.post-grande {
  position: relative;
  width: 100%;
  height: 100%;
}

.post-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: background 1s;
}

.post-grande-link:hover .post-overlay,
.small-post-link:hover .post-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.post-grande img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.post-grande-text {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: white;
  z-index: 2;
}

.post-grande-text span {
  font-size: 12px;
  font-weight: bold;
}

.post-grande-text h1 {
  font-size: 20px;
  font-weight: bold;
}

.posts-pequeno {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  background: yellow;
}

.small-post {
  position: relative;
  width: 100%;
  background: purple;
}

.small-post img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.small-post-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 2;
}

.small-post-text h1 {
  font-size: 16px;
}

.small-post-text span {
  font-size: 12px;
  font-weight: bold;
}

/* Feed */

section.feed {
  width: 100%;
  margin-top: 40px;
}

.categoria-title {
  font-size: 20px;
  color: #222;
}

.feed-content {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}

.novidade-post-link {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: #333;
  margin-bottom: 20px;
}

.novidade-post-link:hover .novidade-post-text > h1 {
  color: rgb(122, 59, 128);
}

.novidade-post:nth-of-type(1) {
  margin-top: 10px;
}

.novidade-post-img {
  position: relative;
  height: 120px;
  margin-right: 10px;
}

.novidade-post-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.novidade-post-text {
  width: 400px;
  padding-right: 40px;
}

.novidade-post-text span {
  font-size: 14px;
  font-weight: 500;
}

.novidade-post-text h1 {
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 5px;
}

.novidade-post-text #categoria {
  text-transform: uppercase;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 500;
}
