.form-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #eee;
}

label[for='banner'] {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

label[for='banner'] img.preview {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

input#banner {
  display: none;
}
.form-post h2 {
  color: #333;
  font-weight: normal;
}

.form-post input {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-post input#titulo {
  width: 80%;
  padding: 10px 5px;
}

.form-post label {
  margin-top: 20px;
}

.form-post textarea {
  width: 80%;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}

.form-post textarea#conteudo {
  min-height: 400px;
}

.form-post select {
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.form-post button[type='submit'] {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgb(170, 82, 179);
  border: 0;
}
